html {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.grid {
    background-color: gainsboro;
    margin-top: 25px;
    width: 500px;
    height: 500px;
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid > div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 4rem;
}

.restart-btn {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    margin-top: 25px;
}

.winner-div {
    display: flex;
    height: 30px;
    align-items: center;
}